.area
	%p
		%h3
			= link_to area.name, '#', :class => 'slide-toggle'
			- if current_user == area.domain.user
				[
				= link_to 'Edit', edit_area_path(area)
				]
			= "-- #{area.percent_complete}% complete"
			- if current_user == area.domain.user
				= button_to 'Delete', area, :method => :delete, :confirm => 'You sure?', :class => 'delete'
	.matrix
		= render area.skills