= form_for @area do |f|
	= render 'shared/error_messages', :object => f.object
	= f.hidden_field :domain_id
	%p
		= f.label :name
		= f.text_field :name, :id => 'name_field'
	- f.fields_for :skills do |builder|
		= render 'skill_fields', :f => builder
	= f.submit submit_text